*.pyc
.#*
helpim/development.py
helpim/locale/*/LC_MESSAGES/django.mo
helpim/locale/*/LC_MESSAGES/djangojs.mo
parts/
bin/buildout
bin/manage.py
develop-eggs/Django.egg-link
.installed.cfg
eggs/
downloads/
build/
develop-eggs/
helpim.egg-info/
dist/
helpim/RELEASE-VERSION
helpim/static/xmpptk
prosody.log
prosody.err
helpim/javascript/htdocs/helpim.base.js
helpim/javascript/src/deps.js
