include helpim/RELEASE-VERSION
include README.rst
include version.py

graft static
graft helpim/locale
graft helpim/templates
graft helpim/fixtures
graft helpim/questionnaire/templates/forms
graft helpim/doc
prune static/xmpptk/closure/
prune static/xmpptk/jsjac/
prune static/xmpptk/xmpptk/
prune static/xmpptk/helpim/
