body {
    margin: 0;
    padding: 0 0 1em 0;
    font-family: sans-serif;
    font-size: .8em;
}

.copyright {
    clear: both;
    margin: .1em 5% .1em 0;
    margin-left: 5%;
    margin-right: 5%;
    font-size: .7em;
    margin: .1em 5% .1em 0;
}

.divLeft {
    margin-left: 5%;
    width: 40%;
    float: left;
}

.divRight {
    margin-right: 5%;
    width: 40%;
    float: right;
    text-align: right;
}

.clear {
    clear: both;
}

#navigation {
    margin: 0;
    padding: 1em 0 20px 5%;
    border-bottom: 1px solid #000;
    background-color: #eee;
}

#navigation ul,#navigation li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

#navigation a:link,#navigation a:visited,#navigation div {
    float: left;
    line-height: 14px;
    font-size: 1em;
    font-weight: bold;
    margin: 0 20px 4px 0;
    text-decoration: none;
    color: #999;
    border-bottom: 4px solid #eee;
    padding-bottom: 2px;
}

#navigation a:link#current,#navigation a:visited#current,#navigation a:hover
    {
    border-bottom: 4px solid #000;
    padding-bottom: 2px;
    background: transparent;
    color: #000;
}

#navigation a:hover {
    color: #000;
}

#centeredColumn {
    margin: 5pt 5%;
}

#content {
    padding-top: 5pt;
}

/* printing */
@media print {
    #navigation,#logout,.subnavigation {
        display: none;
    }
}
