<script src="/static/jsjac.js"></script>
{% if debug %}
<script src="/static/closure/goog/base.js"></script>
<script src="/static/deps.js"></script>
<script>
  goog.require('helpim');
</script>
{% else %}
<script src="/static/chat.js"></script>
{% endif %}
<link type="text/css" rel="stylesheet" href="/static/chat.css"/>
<div id="dialog"></div>
<div id="helpimClient">
  <img src="/static/images/stock_volume.png" alt="sound button" id="soundButton"
  title="click to mute" width="16" height="16" align="left"/>
  <div id="logoutButton"></div>
 <div id="tabBar"></div>
  <div class="goog-tab-bar-clear"></div>
  <div id="tab_content" class="goog-tab-content"></div>
</div>

<div id="panelTemplate">
  <div class="subjectPanel">Subject: <span class="roomSubject"></span></div>
  <div class="rosterPanel"></div>
  <div class="messagesPanel"></div>
  <div class="emoticonsPanel"></div>
  <div class="sendPanel"><textarea class="sendTextarea">Click here to send a message!</textarea></div>
</div>

<iframe src="/static/empty.html" id="soundIFrame" name="soundIFrame" style="border:0;width:0;height:0;"></iframe>
<script>
  helpim.start({{ xmpptk_config|safe }});
</script>
