{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
{% if debug %}
<link  href="{{ STATIC_PREFIX }}xmpptk/helpim.css" type="text/css" rel="stylesheet" />
<script src="{{ STATIC_PREFIX }}xmpptk/jsjac/jsjac.js"></script>
<script src="{{ STATIC_PREFIX }}xmpptk/closure/goog/base.js"></script>
<script src="{{ STATIC_PREFIX }}xmpptk/deps.js"></script>
<script> goog.require('helpim'); </script>
{% else %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}xmpptk/helpim.css"/>
<script src="{{ STATIC_PREFIX }}xmpptk/jsjac.js"></script>
<script src="{{ STATIC_PREFIX }}xmpptk/helpim.js"></script>
{% endif %}
<link type="text/css" rel="stylesheet" href="/custom/custom.css">

<div id="helpimClient">
  <img src="{{ STATIC_PREFIX }}xmpptk/images/stock_volume.png" alt="sound button" id="soundButton"
  title="click to mute" width="16" height="16" align="left"/>
  <div id="logoutButton"></div>
 <div id="tabBar"></div>
  <div class="goog-tab-bar-clear"></div>
  <div id="tab_content" class="goog-tab-content"></div>
</div>

<div id="panelTemplate">
  <div class="subjectPanel">{% trans "Subject" %}: <span class="roomSubject"></span></div>
  <div class="rosterPanel"></div>
  <div class="messagesPanel"></div>
  <div class="sendPanel"><textarea class="sendTextarea"></textarea></div>
{% if is_staff %}
  <div class="blockParticipantButton"></div>
  <div class="requestClientButton"></div>
{% endif %}
  <div class="emoticonsPanel"></div>
</div>

<iframe src="{{ STATIC_PREFIX }}xmpptk/empty.html" id="soundIFrame" name="soundIFrame" style="border:0;width:0;height:0;"></iframe>
<script>
  helpim.start({{ xmpptk_config|safe }});
</script>
