{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}Reports{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
    <a href="/admin">{% trans "Home" %}</a> &rsaquo;
    <a href="{% url stats_index %}">{% trans "Stats" %}</a> &rsaquo;
    {{ report }}
</div>
{% endif %}{% endblock %}


{% block content %}
<h1>{% blocktrans %}Report <i>{{ report }}</i>{% endblocktrans %}</h1>

<form method="POST" action="{% url report_delete report.id %}">
    {% csrf_token %}
    <input type="submit" value="{%trans "Delete report" %}" onclick="return confirm('{% trans "Are you sure?" %}')"/>
</form>

{% include "stats/report_render.html" %}

{% endblock %}