{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% load setvar %}
{% load stats %}

{% block extrastyle %}
{{ block.super }}
{% get_static_prefix as STATIC_PREFIX %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}helpim/stats.css" />
{% endblock %}

{% block title %}Stats{% endblock %}

{% block content %}
{% if pagingYears %}
<ul id="stats_pager">
    {% if prevPage %}
        <li><a href="{% url stats_overview statsKeyword prevPage.value %}">&laquo; {{ prevPage.value }} ({{ prevPage.count }})</a></li>
    {% endif %}

    <li>
        {% for el in pagingYears %}
            {% if forloop.first %}
                <select onchange="if(options[selectedIndex].value) window.location.href='{% url stats_overview statsKeyword %}' + (options[selectedIndex].value)">
            {% endif %}

                {% if el.value == currentPage.value %}
                    <option value="{{ el.value }}" selected="selected">{{ el.value }} ({{ el.count }})</option>
                {% else %}
                    <option value="{{ el.value }}">{{ el.value }} ({{ el.count }})</option>
                {% endif %}

            {% if forloop.last %}
                </select>
            {% endif %}
        {% endfor %}
    </li>

    {% if nextPage %}
        <li><a href="{% url stats_overview statsKeyword nextPage.value %}">{{ nextPage.value }} ({{ nextPage.count }}) &raquo;</a></li>
    {% endif %}
</ul>
{% endif %}

<h1>{% blocktrans with year=currentPage.value name=statsShortName %}Statistics: {{ name }} in {{ year }}{% endblocktrans %}</h1>
<p><i>{{ statsLongName }}</i></p>

{% if aggregatedStats %}
<p>{% trans "Download as:" %}<p> 
<ul>
    <li><a href="{% url stats_overview statsKeyword currentPage.value 'csv' %}">{% trans "CSV" %}</a></li>
    <li><a href="{% url stats_overview statsKeyword currentPage.value 'xls' %}">{% trans "Excel" %}</a></li>
</ul>
{% endif %}

<table id="stats_table">
    {% if tableHeadings %}
    <thead>
        <tr>
            {% for heading in tableHeadings %}
                <td>{{ heading }}</td>
            {% endfor %}
        </tr>
    </thead>
    {% endif %}
    <tbody>
        {% for hourAgg, data in aggregatedStats.iteritems %}
            <tr class="{% cycle 'row1' 'row2' %}">
                {% for key, val in data.items %}
                    {# do not repeat value in the first column if same as previous line. #}
                    {# ifchanged doesn't work in this case because its memory is reset with every new iteration of the inner loop #}
                    {% if forloop.first %}
                        {% ifnotequal lastAggValue val %}
                            {% if detail_url %}
                                <td><a href="{{ detail_url|stats_details:val }}">{{ val }}</a></td>
                            {% else %}
                                <td>{{ val }}</a></td>
                            {% endif %}
                        {% else %}
                            <td></td>
                        {% endifnotequal %}
                        
                        {% setvar lastAggValue %}{{ val }}{% endsetvar %}
	   	            {% else %}
                        <td>{{ val }}</td>
                    {% endif %}
	            {% endfor %}
            </tr>
        {% empty %}
            <tr><td>{% trans "No stats available for the selected year." %}</td></tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
