{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}Stats{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
    <a href="/admin">{% trans "Home" %}</a> &rsaquo;
    {% trans "Stats" %}
</div>
{% endif %}{% endblock %}


{% block content %}
<h1>{% trans "Stats" %}</h1>

<p>{% trans "Show statistics for one of the following topics:" %}</p>

{% for statsProvider in statProviders %}
    {% if forloop.first %}
	<ul>
	{% endif %}
	
	<li><a href="{% url stats_overview statsProvider.keyword %}">{{ statsProvider.short_name }}</a> &mdash; {{ statsProvider.long_name }}</li>
	
	{% if forloop.last %}
	</ul>
	{% endif %}
{% empty %}
    <p>{% trans "No module registered that collects stats" %}</p>
{% endfor %}



<h1>{% trans "Reports" %}</h1>
{% url report_new as report_new_url %}

<p>{% trans "Configurable summaries that can be saved." %}</p>

{% if reports %}
    <p><a href="{{ report_new_url }}">{% blocktrans %}Create new report{% endblocktrans %}</a></p>
{% endif %}

{% for report in reports %}
    {% if forloop.first %}
    <ul>
    {% endif %}
    
    <li><a href="{{ report.get_absolute_url}}">{{ report.title }}</a></li>
    
    {% if forloop.last %}
    </ul>
    {% endif %}
{% empty %}
    <p>{% blocktrans %}You haven't created any reports yet. <a href="{{ report_new_url }}">Create a first report now!</a>{% endblocktrans %}</p>
{% endfor %}

{% endblock %}
