<html>

<head>
	<title>{{ form.title }}</title>
	<style>
		body {background-color:#FFFFFF; font:10pt Arial,sans-serif;}
		p,ul {width:100%; padding: 0.2em; margin: 0 0.2em 0.2em 0;}
		label {display:inline;}
		label.upper_label {margin-top: 1em;}
		input[type="text"],textarea {width:100%;}
		li {list-style-type:none;}
		li label {width:auto; cursor:pointer;}
		.errorlist {color:#f00; margin-top: 3em;}
	</style>
	<link type="text/css" rel="stylesheet" href="/custom/custom_frame.css">
</head>

<body>
	
	<h1>{{ form.title }}</h1>
	{% if form.intro %}
	<p>{{ form.intro }}</p>
	{% endif %}
	
	<form method="post"{% if form_for_form.is_multipart %} 
	    enctype="multipart/form-data"{% endif %}>
	    {% csrf_token %}
        {% for field in form_for_form %}
          {% if field.errors %}
            <ul class="errorlist">{{ field.errors }}</ul>
          {% endif %}
          {% if field.label != "..." %}
            {{ field.label_tag }}
          {% endif %}
          {{ field }}
        {% endfor %}
		<div style="clear:left;">&nbsp;</div>
		<input type="submit" value="{{ form.button_text }}" />
	</form>
	
</body>
