<html>
<head>
	<title>{{ form.title }}</title>
	<style>
		body {font-family:sans-serif; padding:1em 2em;}
		p {width:50em;}
		label {display:block; float:left; width:10em;}
		.errorlist {color:#f00;}
	</style>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}helpim/custom.css">
	<script type="text/javascript">
	  try {
	    parent.helpim.call('questionnaire_submitted', {{ entry.pk }});
	  } catch(e) { }
	</script>
</head>

<body id="form_sent">

	<h1>{{ form.title }}</h1>
	{% if form.response %}
	<p>{{ form.response }}</p>
	{% endif %}
	
</body>
