{% load i18n %}
{% include 'admin/edit_inline/tabular.html' %}

<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $(".dynamic-participant_set").each(
            function(i, row) {
                if ($(row).find('.role p').text() == 'Client') {
                    // connect onchange handler to blocked checkbox to automatically submit form
                    $('#id_participant_set-'+i+'-blocked').change(function() {
                        var form = $(row).parents('form');
                        $('<input type="hidden" name="_continue" value="1" />').appendTo(form);
                        form.submit();
                    });
                } else {
                    // hide blocked checkbox
                    $('#id_participant_set-'+i+'-blocked').remove();
                }
            }
        )
    });
})(django.jQuery);
</script>