{% extends "registration/registration_base.html" %}
{% url auth_login as login_url %}
{% load i18n %}
{% block title %}{% if account %}{% trans 'Activation complete' %}{% else %}{% trans 'Activation problem' %}{% endif %}{% endblock %}
{% block content %}
{% if account %}
{% blocktrans %}Thanks {{ account }}, activation complete!  You may now <a href='/'>login</a> using the username and password you set at registration.{% endblocktrans %}
{% else %}
{% trans 'Oops &ndash; it seems that your activation key is invalid.  Please check the url again.' %}
{% endif %}
{% endblock %}
