from settings import *

DEBUG = True
TEMPLATE_DEBUG = DEBUG

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'helpim31',
        'USER': 'root',
        'PASSWORD': 'password',
    }
}

CHAT['debug'] = DEBUG

 # The levels in descending order are:
 #
 # * SEVERE (highest value)
 # * WARNING
 # * INFO
 # * CONFIG
 # * FINE
 # * FINER
 # * FINEST  (lowest value)
CHAT['log_level'] = 'ALL'

# uncomment to activate 'light' mode (probably not working as of yet)
#CHAT['mode'] = 'light'

# uncomment to set a common nickname for all staff members
#CHAT['staff_muc_nick'] = 'foobar'

# uncomment the following lines to enably buddychats please note that
# 'helpim.buddychat' must be loaded /before/ 'helpim.rooms' and
# 'helpim.questionnaire'
#INSTALLED_APPS = ('helpim.buddychat','registration') + INSTALLED_APPS

# how many days to keep conversations before pruning them
# this is used by django-admin script `prune_conversations`
#CONVERSATION_KEEP_DAYS = 90

# how long it may take to actually activate a newly registered account
# via django_registrations (part of buddychat)
#ACCOUNT_ACTIVATION_DAYS = 7

# buddychat: time that needs to pass between regular Questionnaires
# of careseeker and careworker.
# supply a dictionary that can be passed into datetime.timedelta(..)
# (see http://docs.python.org/library/datetime.html#datetime.timedelta)
#RECURRING_QUESTIONNAIRE_INTERVAL = { 'weeks': 1 }

# for testing, you might not want to send real emails. uncomment this
# to instead print emails to stdout.
# (see https://docs.djangoproject.com/en/1.3/topics/email/#e-mail-backends)
#EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

MIDDLEWARE_CLASSES = MIDDLEWARE_CLASSES + (
    'debug_toolbar.middleware.DebugToolbarMiddleware',
)

INSTALLED_APPS = INSTALLED_APPS + ('debug_toolbar',)

INTERNAL_IPS = ('127.0.0.1',)

DEBUG_TOOLBAR_PANELS = (
    'debug_toolbar.panels.version.VersionDebugPanel',
    'debug_toolbar.panels.timer.TimerDebugPanel',
    'debug_toolbar.panels.settings_vars.SettingsVarsDebugPanel',
    'debug_toolbar.panels.headers.HeaderDebugPanel',
    'debug_toolbar.panels.request_vars.RequestVarsDebugPanel',
    'debug_toolbar.panels.template.TemplateDebugPanel',
    'debug_toolbar.panels.sql.SQLDebugPanel',
    'debug_toolbar.panels.signals.SignalDebugPanel',
    'debug_toolbar.panels.logger.LoggingPanel',
)

DEBUG_TOOLBAR_CONFIG = {
    'INTERCEPT_REDIRECTS': False,
}

if DEBUG:
    STATICFILES_DIRS = [
       ("javascript",     abspath(join(dirname(__file__), 'javascript', 'src'))),
       ("xmpptk",         abspath(join(dirname(__file__), '..', 'parts', 'xmpptk', 'htdocs'))),
       ("xmpptk/closure", abspath(join(dirname(__file__), '..', 'parts', 'xmpptk', 'lib', 'closure-library', 'closure'))),
       ("xmpptk/jsjac",   abspath(join(dirname(__file__), '..', 'parts', 'xmpptk', 'lib', 'jsjac'))),
       ("xmpptk/src",     abspath(join(dirname(__file__), '..', 'parts', 'xmpptk', 'src'))),
    ]


