{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
    "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <head>
    <title>{% block title %}HelpIM3{% endblock %}</title>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}helpim/helpim.css">
	<link type="text/css" rel="stylesheet" href="/custom/custom.css">
  </head>
  <body>
   <div id="centeredColumn" class="main">
      <div class="copyright">
        <div class="divLeft"><span><span>HelpIM3&nbsp;3.1</span></span></div>
        <div class="divRight"><span>{% if is_logged_in %}{% blocktrans %}Welcome, {{ name }}!{% endblocktrans %}{% endif %}</span></div>
        <div class="clear"></div>
      </div>
      <h1>{% block heading %}HelpIM 3.1{% endblock %}</h1>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
