{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
    "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <head>
    <title>{% block title %}HelpIM3{% endblock %}</title>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}helpim/helpim.css">
  </head>
  <body>
    <div id="navigation">
{% load flatpages %}
{% get_flatpages as flatpages %}
      <ul>
{% for page in flatpages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
        <li><a href="{% url helpim.rooms.views.client_join_chat %}">Join Chat</a></li>
      </ul>
    </div>
    <div id="centeredColumn" class="main">
      <div class="copyright">
        <div class="divLeft"><span><span>HelpIM3&nbsp;3.1</span></span></div>
        <div class="divRight"><span>{% if is_logged_in %}Welcome, {{ name }}!{% endif %}</span></div>
        <div class="clear"></div>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
