{% extends "admin/base.html" %}
{% load flatpages %}
{% load i18n %}
{% load if_app_installed %}
{% load static %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block extrastyle %}
{% get_static_prefix as STATIC_PREFIX %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}helpim/style.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}helpim/helpim.css" />
<style>
#navigation {
  border-bottom: 0px solid #000;
  border-top: 1px solid #000;
}
</style>
{% endblock %}
{% block branding %}
<h1 id="site-name">
  <a href="/admin/">{% trans "HelpIM" %}</a>
</h1>
{% endblock %}

{% block nav-global %}
<div id="navigation">
  <ul>
    {% if perms.conversations.change_conversation %}
    <li><a href="{% url admin:conversations_conversation_changelist %}">{% trans "Conversations" %}</a></li>
    <li><a href="{% url staff_join_room %}">{% trans "Chat!" %}</a></li>
    {% endif %}

    {% ifappinstalled helpim.buddychat %}
	    {% if perms.buddychat.is_careworker or perms.buddychat.is_coordinator  %}
	    <li><a href="{% url chatbuddies_list %}">{% trans "Chat Buddies" %}</a></li>
	    {% endif %}
    {% endifappinstalled %}

    {% ifappinstalled helpim.stats %}
        {% if perms.stats.can_view_stats %}
            <li><a href="{% url stats_index %}">{% trans "Stats" %}</a></li>
        {% endif %}
    {% endifappinstalled %}
    
    {% if user %}
      {% get_flatpages '/admin/' for user as admin_flat_pages %}
      {% for page in admin_flat_pages  %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
</div>
{% endblock %}

