{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block extrastyle %}
{% get_static_prefix as STATIC_PREFIX %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}helpim/style.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}helpim/helpim.css" />
<style>
#navigation {
  border-bottom: 0px solid #000;
  border-top: 1px solid #000;
}
</style>
{% endblock %}
{% block branding %}
<h1 id="site-name">
  <a href="/admin/">{% trans "HelpIM" %}</a>
</h1>
{% endblock %}

{% block nav-global %}
  {% include "admin/menu_bar.html" %}
{% endblock %}
