{% extends "admin/base_site.html" %}
{% load i18n %}
{% load flatpages %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
<style>

.dashboard #content {
  margin-left: auto;
  margin-right: auto !important;
  margin-top: 2em;
}

th.link {
  background: url({% admin_media_prefix %}img/admin/selector-add.gif) 3px 3px no-repeat;
  padding-left: 22px;
  }
</style>

{% if app_list %}
<div class="module">
  <table style="width: 100%;">
    <caption>
      <a href="{{ app.app_url }}" class="section">{% trans "Quick access" %}</a>
    </caption>
    <tr><th scope="row" class="link"><a href="{% url staff_join_room %}" class="link">{% blocktrans %}Chat!{% endblocktrans %}</a></th></tr>
    {% for app in app_list %}
        {% for model in app.models %}
            <tr>
            {% if model.perms.change %}
                <th scope="row" class="link"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
    {% if perms.stats.can_view_stats %}
    <tr>
      <th scope="row" class="link"><a href="{% url stats_index %}">{% trans "Stats" %}</a></th></tr>
  </table>
</div>
    {% endif %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}

{% get_flatpages '/welcome/' for user as flatpages %}
  {% for page in flatpages %}
    <h2>{{ page.title }}</h2>
    <p>{{ page.content|safe }}</p>
  {% endfor %}
{% endblock %}
