{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
  {% if has_add_permission %}
    <ul class="object-tools">
      {% block object-tools-items %}
        <li>
          <a href="{% url helpim.rooms.views.staff_join_chat %}" class="golink">
            {% blocktrans with cl.opts.verbose_name as name %}Join next available {{ name }}{% endblocktrans %}
          </a>
        </li>
        <li>
          <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
          </a>
        </li>
      {% endblock %}
    </ul>
  {% endif %}
{% endblock %}
